:root {
    --green: rgb(16, 204, 139);
    --dark-green: rgb(15, 129, 89);
    --black: rgb(12, 12, 12);
    --card-background: rgb(21, 22, 23);
    --light-gray: rgb(163, 163, 163);
    --white: rgb(255, 255, 255);
}

@font-face {
    font-family: 'Rig-BoldHalftnone';
    src: url('../fonts/Rig-BoldHalftone.ttf');
}

* {
    font-size: 16px;
    box-sizing: border-box;
    color: var(--white);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

header {
    background-color: var(--black);
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
}

ul{
    list-style: none;
}

input,
textarea {
    padding: 12px;
    border-radius: 4px;
    color: var(--black);
}

textarea{
    resize: none;
    font-family: inherit;
}

button {
    border: none;
    background-color: var(--green);
    padding: 16px;
    font-weight: bold;
    color: var(--black);
    border-radius: 8px;
}

button:hover{
    box-shadow: 2px 2px 2px white;
    background-color: var(--dark-green);
    color: var(--white);
    cursor: pointer;
}

footer{
    text-align: center;
}

.container {
    max-width: 1280px;
    width: 100vw;
    height: 100vh;
}

.logo {
    display: inline-block;
    width: 80px;
}

.logo__container {
    height: 80px;
    width: 80px;
    font-family: 'Rig-BoldHalftnone';
    font-size: 2.5em;
    color: var(--green);
    border: 2px solid var(--green);
    padding: 16px 16px 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.menu {
    max-width: 50%;
}

.menu a:hover{
    transition: all 0.2s;
    transform: rotateY(360deg);
    color: var(--green);
}

.menu__list {
    display: flex;
    gap: 32px;
    font-size: 1.25em;
}

#about-me {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 32px;
}

.about-me__container {
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me__presentation {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.greet {
    color: var(--green);
    font-size: 2em;
    margin-bottom: 16px;
}

.dev {
    font-size: 3em;
}

.about-me__description {
    font-size: 1.25em;
    color: var(--light-gray);
    margin-top: 32px;
    line-height: 1.5em;
    max-width: 70%;
    text-align: left;
}

.about-me__container img {
    width: 300px;
}

#projects {
    border-top: 1px;
    border-style: dotted;
    margin: 32px;
}

.projects__title {
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    padding: 32px 0;
}

.projects__container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 48px;
}

.project-card {
    background-color: var(--card-background);
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px 2px rgba(225, 225, 225, 0.2);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-title {
    font-weight: bold;
    font-size: 2em;
    color: var(--green);
}

.project-img {
    width: 100%;
}

.project-description {
    font-size: 1.25em;
    line-height: 1.25em;
    color: var(--light-gray);
    height: 60px;
}

.project-links {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    gap: 8px;
}

.project-website,
.project-github {
    width: 50%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.project-website {
    background-color: var(--green);
}

.project-github {
    background-color: var(--white);
}

.project-github:hover, .project-website:hover{
    transition: all 0.5s;
    transform: scale(1.05);
}

.icon {
    width: 36px;
    filter: var(--white);
}


#contacts {
    border-top: 1px;
    border-style: dotted;
    margin: 32px;
}

.contacts__title {
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    padding: 32px 0;
}

.contacts__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.contacts__form {
    background-color: var(--card-background);
    padding: 32px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
}

.form-title {
    font-weight: bold;
    font-size: 1.5em;
    margin: 20px 0;
}

.contacts__links {
    padding: 32px;
    display: flex;
    gap: 32px;
}

.contacts__link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 220px;
}

.contacts__link:hover{
    transition: all 0.5s;
    transform: scale(1.25);
}

.contacts__link img{
    width: 60px;
}
